<app-header titulo="Grid"></app-header>

<ion-content>


  <ion-grid fixed>
    <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6"
            *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1,1]">

        <ion-card>
          <ion-img src="assets/icon/jinx.jpg"></ion-img>
        </ion-card>
        <ion-card-header>
          <ion-card-subtitle> Jinx Mola </ion-card-subtitle>
          <ion-card-title> Jinx </ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis repudiandae natus veniam quidem placeat, aspernatur consequatur asperiores nemo magni est earum, neque adipisci pariatur, ullam debitis nesciunt nostrum alias voluptatem.
        </ion-card-content>

      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
